<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macauto.macautowarehouse">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScannedBarcodeActivity" />
        <activity android:name=".EnteringWarehouseDividedDialogActivity" />
        <activity android:name=".ReceivingAddDialogActivity" />
        <activity android:name=".LookupInStockDetailActivity" />
        <activity android:name=".AllocationMsgDetailActivity" />
        <activity android:name=".AllocationSendMsgStatusDetailActivity" />

        <service android:name=".service.CheckEmpExistService" />
        <service android:name=".service.CheckEmpPasswordService" />
        <service android:name=".service.GetReceiveGoodsInDataService" />
        <service android:name=".service.ConfirmEnteringWarehouseService" />
        <service android:name=".service.GetDocTypeIsRegOrSubService" />
        <service android:name=".service.ExecuteScriptTTService" />
        <service android:name=".service.GetPartWarehouseListService" />
        <service android:name=".service.GetTTReceiveGoodsDataService" />
        <service android:name=".service.GetMyMessListService" />
        <service android:name=".service.GetMyMessDetailService" />
        <service android:name=".service.SearchPartNoByScanService" />
        <service android:name=".service.CheckDeleteMessageRightsService" />
        <service android:name=".service.GetLocateNoService" />
        <service android:name=".service.CheckMadeNoExistService" />
        <service android:name=".service.CheckStockNoExistService" />
        <service android:name=".service.GetMadeInfoService" />
        <service android:name=".service.GetSfaDataMessService" />
        <service android:name=".service.GetVarValueService" />
        <service android:name=".service.GetSfaDataMessMoveService" />
        <service android:name=".service.DeleteMessageNoService" />
        <service android:name=".service.ShippingGetPreShippingInfoService" />
        <service android:name=".service.ShippingGetOgcFile2Service" />
        <service android:name=".service.ShippingGetWarehouseQtyService" />
        <service android:name=".service.ShippingGetPreShippingInfoConfirmSpService" />
        <service android:name=".service.ShippingInsertOgcFileService" />
        <service android:name=".service.GetLotCodeVer2Service" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>
    </application>

</manifest>